.wifi-table{
  border: 1px solid rgba(0,0,0,0.4);
  border-collapse: collapse;
  margin-top: 20px
;
}

.wifi-table-header{
  color: white;
  background-color: green;
  opacity: 0.9;
}
.wifi-table-header th{
  padding: 5px 10px;
}
.link-wrapper a{
  padding: 0px 5px;
}
.link-wrapper a:nth-child(n+2){
  border-left: 2px solid black;
}